<launch>
  <arg name="config_path" default = "$(find air_slam)/configs/visual_odometry/vo_indoor_zed_test.yaml" />
  <arg name="dataroot" default = "/run/user/1000/gvfs/sftp:host=10.113.3.145,user=xhs/home/xhs/raid/bhp/scene22_1_zed" />
  <arg name="camera_config_path" default = "$(find air_slam)/configs/camera/indoor_zed_test.yaml" />
  <arg name="model_dir" default = "$(find air_slam)/output" />
  <arg name="saving_dir" default = "/run/user/1000/gvfs/sftp:host=10.113.3.145,user=xhs/home/xhs/raid/bhp/scene22_1_zed/result" />

  <node name="visual_odometry" pkg="air_slam" type="visual_odometry" output="screen">
    <param name="config_path" type="string" value="$(arg config_path)" />
    <param name="dataroot" type="string" value="$(arg dataroot)" />
    <param name="camera_config_path" type="string" value="$(arg camera_config_path)" />
    <param name="model_dir" type="string" value="$(arg model_dir)" />
    <param name="saving_dir" type="string" value="$(arg saving_dir)" />
  </node>

  <arg name="visualization" default="true" />
  <group if="$(arg visualization)">
    <node name="rviz" pkg="rviz" type="rviz" args="-d $(find air_slam)/rviz/vo.rviz" output="screen" />
  </group>    
</launch>
